/* CSS RESET - undo the varying default styling applied by web browsers to HTML elements */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* sr-only is for screen reader use only - 
The element will be visually hidden but will still be read by screen reader technology. */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    display: none;
    z-index: -1;
    text-indent: -9999px;
  }
  
/*  A big shout out to Andy Bell at https://andy-bell.co.uk/about/ 
    For his great article " A Modern CSS Reset " I recommend giving it a read at https://andy-bell.co.uk/a-modern-css-reset/ 
*/



/* MY CUSTOM CSS RULES BELOW */

:root {
  --color1: hsl(234, 12%, 34%); /* Very Dark Blue */
  --color2: hsl(229, 6%, 66%);  /* Grayish Blue */
  --color3: hsl(0, 0%, 98%);  /* Very Light Gray */
}

main {
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:  "hero-title"
                        "hero-text"
                        "card-1"
                        "card-2"
                        "card-3"
                        "card-4";
  background-color: var(--color3);
}

.hero-title {
  grid-area: hero-title;
  color: var(--color2);

}

.hero-text {
  grid-area: hero-text;
}

h3 {
  font-size: 1.125rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
}

.card-1 {
  border-top: 4px solid hsl(180, 62%, 55%);
  grid-area: card-1;
}

.card-2 {
  border-top: 4px solid hsl(0, 78%, 62%);
  grid-area: card-2;
}

.card-3 {
  border-top: 4px solid hsl(34, 97%, 64%);
  grid-area: card-3;
}

.card-4 {
  border-top: 4px solid hsl(212, 86%, 64%);
  grid-area: card-4;
}

.card-icon {
  justify-self: flex-end;
  align-self: flex-end;
}

@media (min-width: 800px) {
  
  main {
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:  ". . . hero-title hero-title hero-title hero-title . . . ."
                          ". . . hero-text hero-text hero-text hero-text . . . ."
                          ". . . . card-2 card-2 card-2  . . . ."
                          ". card-1 card-1 card-1 card-2 card-2 card-2 card-4 card-4 card-4 ."
                          ". card-1 card-1 card-1 card-3 card-3 card-3 card-4 card-4 card-4 ."
                          ". . . . . . . . . . ."
                          ". . . . . . . . . . ."
                          ". . . . . . . . . . ."
                          ". . . . . . . . . . ."
                          ". . . . . . . . . . ."
                          ". . . . . . . . . . ."
                          ". . . . . . . . . . .";

  }
}